/* Task Name: Front End Developer Dynamic Skills Test V2 */
/* Task Given By: Coalition Technologies */
/* Git URL: https://github.com/ajaygorecha/Front-End-Developer-Dynamic-Skills-Test.git */
/* Vercel Deployment URL: https://front-end-developer-dynamic-skills-test.vercel.app/ */
/* Develop by: Ajay Gorecha */
/* Developer URL: https://www.ajaygorecha.com/ */

$primaryColor: #01F0D0
$whiteColor: #fff
$secoundyColor: #072635
$baseColor: #F6F7F8
$pColor: #707070
$blackColor: #000
$font: "Manrope", sans-serif
$boxShadow: 0px 0px 50px rgba(0, 0, 0, 0.1)
$radius: 8px
$greyColor: #DCDFDD
$textGrey: #A5ADBA
$borderColor: #EDEDED

/* Design System Colors */
$info: #2050FB
$danger: #FF3B2F
$success: #29C940
$warning: #FFAB00

$primaryLight: #D8FCF7
$infoLight: #DEEBFF
$dangerLight: #FFEBE6
$successLight: #E3FCEF
$warningLight: #FFFAE6


*,*,*:after,*:before
    margin: 0
    padding: 0
    position: relative
    box-sizing: border-box
    transition: all 0.2s ease-in-out

::selection
    background-color: $primaryColor
    color: $whiteColor

::-webkit-scrollbar
    width: 6px

::-webkit-scrollbar-track
    background-color: $borderColor
    border-radius: 10px

::-webkit-scrollbar-thumb
    background: $secoundyColor
    border-radius: 10px

html,body
    font-family: $font !important
    font-weight: 400
    scroll-behavior: smooth
    background-color: $baseColor
    @media (max-width: 768px)
        overflow-x: hidden !important

h1,h2,h3,h4,h5,h6
    font-weight: 700

div,header,nav,footer,section,aside,article
    display: block

a
    color: $primaryColor
    text-decoration: none
    transition: all 0.05s ease-in !important
    &:hover
        text-decoration: none !important
        color: $secoundyColor

p
    font-size: 16px
    color: $pColor
    font-weight: 400
    @media (max-width: 576px)
        font-size: 14px

ul
    margin: 0
    padding: 0
    li
        list-style-type: none
        font-size: 16px
        position: relative

img
    width: 100%

hr
    border-color: $baseColor
    opacity: 1

/* Bootstrap Reset */
.btn-primary
    background-color: $primaryColor
    border-color: $primaryColor
    border-radius: 24px
    color: $secoundyColor
    font-weight: bold
    padding: 8px 10px
    min-width: 200px
    &:hover
        background-color: $secoundyColor
        border-color: $secoundyColor

.card
    border-radius: 16px
    border: none
    background-color: $whiteColor
    .card-header
        background-color: $whiteColor
        border: none
        border-radius: 16px 16px 0 0 
        padding: 20px 20px 0 20px
        display: flex
        justify-content: space-between
        h1,h2,h3,h4,h5,h6
            font-size: 24px
            color: $secoundyColor
            font-weight: 800
    .card-body
        padding: 20px

/* Main CSS */
header
    padding: 18px
    .nav-bar
        display: flex
        align-items: center
        justify-content: space-between
        background-color: $whiteColor
        border-radius: 50px
        padding: 16px 32px
    .menus
        ul
            display: flex
            align-items: center
            gap: 8px
            li.active
                a
                    background-color: $primaryColor
            li > a
                display: flex
                gap: 8px
                color: $secoundyColor
                font-weight: bold
                padding: 10px 16px
                border-radius: 24px
                &:hover
                    background-color: $primaryColor
            img
                width: 20px
    .user-details
        display: flex
        align-items: center
        gap: 12px
        .user
            display: flex
            align-items: center
            gap: 8px
            border-right: 1px solid $borderColor
            padding-right: 12px
            img
                max-width: 44px
            p
                margin: 0
                color: $secoundyColor
                font-weight: bold
                font-size: 14px
                line-height: 16px
            span
                color: $pColor
                font-size: 14px
                line-height: 16px
        .settings
            ul
                display: flex

main
    padding: 0 18px 18px 18px
    display: flex
    gap: 30px
    justify-content: space-between
    .section-wrapper
        width: calc( 100% - 400px )
        margin-top: 14px
        display: flex
        gap: 30px
        .diagnosis-wrapper
            width: calc( 100% - 400px )
            display: flex
            flex-direction: column
            gap: 20px
            border-radius: 18px
            .chart-body
                background-color: #F4F0FE
                padding: 20px
                border-radius: 12px
                display: flex
                gap: 30px
                justify-content: space-between
                .chart-details
                    display: flex
                    flex-direction: column
                    width: 250px
                    .box
                        padding: 20px 0
                        width: 100%
                        h2
                            font-size: 22px
                            color: $secoundyColor
                            margin-top: 8px
                            font-weight: bold
                            margin-bottom: 8px
                        span
                            display: flex
                            font-size: 14px
                            color: $secoundyColor
                            img
                                width: 20px
                        p
                            margin: 0
                            padding-left: 18px
                            color: $secoundyColor
                            font-size: 14px
                            font-weight: bold
                            &::before
                                position: absolute
                                width: 14px
                                height: 14px
                                content: ''
                                left: 0
                                top: 3px
                                border-radius: 50%
                                border: 1px solid $whiteColor
                    .box.systolic
                        border-bottom: 1px solid #CBC8D4
                        p
                            &::before
                                background-color: #E66FD2
                    .box.diastolic
                        p
                            &::before
                                background-color: #8C6FE6
                .canvas-item
                    width: calc( 100% - 250px )
                    canvas
                        width: 100%
                        max-height: 330px
                .canvas-ittle
                    display: flex
                    justify-content: space-between
                    h2
                        font-size: 18px
                        color: $secoundyColor
                    .dropdown
                        p
                            margin: 0
                            color: $secoundyColor
                            font-size: 14px
                        img
                            width: 25px
                            margin-left: 16px
            .diagnostic-list-wrapper
                width: 100%
                table
                    display: block
                    width: 100%
                    margin-top: 20px
                    height: 170px
                    overflow-y: scroll
                    thead
                        th
                            min-width: 150px
                            background-color: $baseColor
                            border: 0
                            padding: 16px
                            &:nth-child(1)
                                border-radius: 30px 0 0 30px
                                min-width: 200px
                            &:nth-child(2)
                                min-width: 500px
                            &:nth-child(3)
                                border-radius: 0 30px 30px 0
                    tbody
                        td
                            vertical-align: middle
                            padding: 10px
                            border-color: $baseColor
                            &:nth-child(3)
                                max-width: 80px
            .respiratory-wrapper
                display: flex
                justify-content: space-between
                gap: 20px
                padding: 20px 
                .icon-wrapper
                    width: 100%
                    border-radius: 12px
                    padding: 16px
                    min-height: 250px
                    img
                        width: 96px
                        margin-bottom: 16px
                    p
                        font-size: 16px
                        font-weight: 500
                        color: $secoundyColor
                        margin-bottom: 0
                    h3
                        font-size: 30px
                        color: $secoundyColor
                        font-weight: 800
                        margin-bottom: 18px
                    span
                        display: flex
                        align-items: self-start
                        img
                            width: 20px
                    &:nth-child(1)
                        background-color: #E0F3FA
                    &:nth-child(2)
                        background-color: #FFE6E9
                    &:nth-child(3)
                        background-color: #FFE6F1
        .patients-wrapper
            background-color: $whiteColor
            border-radius: 16px
            width: 370px
            height: 100%
            .card-header
                img
                    width: 24px

            .card-body
                padding-left: 0
                padding-right: 5px
            .patients-list
                display: flex
                flex-direction: column
                max-height: 1050px
                overflow-y: scroll
                li
                    display: flex
                    align-items: center
                    gap: 12px
                    padding: 16px 20px
                    &:hover
                        background-color: $primaryLight
                    img
                        max-width: 48px
                    .patients-name
                        margin-bottom: 0
                        font-weight: bold
                        color: $secoundyColor
                        font-size: 14px
                    .patients-age
                        color: $pColor
                        font-size: 14px
    .sidebar-wrapper
        width: 370px
        display: flex
        flex-direction: column
        gap: 30px
        .user-info
            background-color: $whiteColor
            border-radius: 16px
            padding: 32px 20px
            .thumb
                text-align: center
                margin-bottom: 32px
                img
                    width: 200px
                    height: 200px
                    object-fit: cover
                    object-position: center
                    border-radius: 50%
                    margin-bottom: 24px
                h1,h2,h3,h4,h5,h6
                    font-size: 24px
                    color: $secoundyColor
                    margin: 0
        .personal-info
            margin-bottom: 40px
            ul
                display: flex
                flex-direction: column
                gap: 24px
                li
                    display: flex
                    gap: 16px
                    align-items: center
                    span
                        color: $secoundyColor
                        font-size: 14px
                    p
                        margin: 0
                        font-weight: bold
                        color: $secoundyColor
                    .icon
                        width: 42px
                        height: 42px
                        display: grid
                        place-content: center
                        background-color: $baseColor
                        border-radius: 50%
                        img
                            width: 100%
                            height: 100%
        .lab-wrapper
            .card-body
                ul
                    display: flex
                    flex-direction: column
                    height: 250px
                    overflow-y: scroll
                    overflow-x: hidden
                    button
                        width: 100%
                        display: flex
                        align-items: center
                        justify-content: space-between
                        padding: 10px 16px
                        font-size: 13px
                        color: $secoundyColor
                        border: none
                        background-color: transparent
                        &:hover
                            background-color: $baseColor
                        img
                            width: 20px
        
